[Unit]
Description=Restic exporter for backup job named %i
Requires=local-fs.target
Requires=network.target
OnFailure={{ restic_systemd_failure_service_name | splitext | first }}%n

[Service]
Type=oneshot
{% if restic_non_root_setup %}
User={{ restic_non_root_setup_user }}
Group={{ restic_non_root_setup_user }}
AmbientCapabilities=cap_dac_read_search
{% endif %}
ExecStart={{ restic_prometheus_exporter_script }} {{ restic_script_dir }}/access-prometheus-%i.sh

# Security hardening (see man 7 systemd.exec)
PrivateTmp=true
ProtectHome=read-only
ProtectSystem=full
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
ProtectControlGroups=true
PrivateDevices=true
MemoryDenyWriteExecute=true
ReadWritePaths={{ restic_prometheus_exporter_metrics_basedir }}
