[Unit]
Description=Restic prune for backup job named %i
Requires=local-fs.target
Requires=network.target
OnFailure={{ restic_systemd_failure_service_name | splitext | first }}%n

[Service]
Type=oneshot
ExecStart={{ restic_prometheus_exporter_script }} {{ restic_script_dir }}/backup-prune-%i.sh

# Security hardening (see man 7 systemd.exec)
PrivateTmp=true
ProtectHome=read-only
ProtectSystem=full
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
ProtectControlGroups=true
PrivateDevices=true
MemoryDenyWriteExecute=true
ReadWritePaths={{ restic_prometheus_exporter_metrics_basedir }}
