[Unit]
Description=Run backup job for {{ item.name }}
Documentation=https://restic.readthedocs.io/en/stable/
Requires=local-fs.target
Requires=network.target
OnFailure={{ restic_systemd_failure_service_name | splitext | first }}%n
{% for m in item.requiredMounts | default([])%}
RequiresMountsFor= {{ m }}
{% endfor %}
StartLimitInterval=43200
StartLimitBurst=10

[Service]
Type=oneshot
{% if restic_non_root_setup %}
User={{ restic_non_root_setup_user }}
Group={{ restic_non_root_setup_user }}
AmbientCapabilities=cap_dac_read_search
{% endif %}
ExecStart={{ restic_script_dir }}/forget-{{ item.name }}.sh {{ item.restic_extra_args | default('') }}
Restart=on-failure
RestartSec=90

# Security hardening (see man 7 systemd.exec)
PrivateTmp=true
ProtectHome=read-only
ProtectSystem=full
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
ProtectControlGroups=true
PrivateDevices=true
MemoryDenyWriteExecute=true
