[Unit]
Description=Report backup failures
Requires=network.target

[Service]
Type=oneshot
# Email notification with logs (%i is systemd unit name)
{% if restic_prometehus_exporter_enabled %}
ExecStartPre={{ restic_failure_script }} %i.service {{ restic_failure_mail_to }}
ExecStart={{ restic_prometehus_exporter_script }} %i.service
{% else %}
ExecStart={{ restic_failure_script }} %i.service {{ restic_failure_mail_to }}
{% endif %}

# Security hardening (see man 7 systemd.exec)
PrivateTmp=true
ProtectHome=read-only
ProtectSystem=full
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
ProtectControlGroups=true
PrivateDevices=true
MemoryDenyWriteExecute=true
{% if restic_prometehus_exporter_enabled %}
ReadWritePaths={{ restic_prometehus_exporter_script | dirname }}
{% endif %}
